body {
 width: 100%;
 height: auto;
 margin: 0;
 padding: 0;
}

.hero {
  background: url('images/desktop/image-header.jpg') no-repeat;
  background-position: center center;
  height: 500px;
  background-size: cover;
}

.nav {
 color: white;
 padding: 30px 50px;
}

.hero-text {
 margin-top: 50%;
 text-align: center;
 color: white;
 text-transform: uppercase;
}

.nav-links {
 float: right;
}

.link {
 display: inline-flex;
 list-style-type: none;
 margin: 0 !important;
}

.link li {
 margin: 0 20px;
}

.link li a {
 text-decoration: none;
 color: white;
}

.link li:hover {
 background-color: red;
 padding: 5px;
 border: 5px red;
}

.row {
 display: inline-flex;
}

.row-text {
 /* width: 70%; */
 padding: 10%;
 /* height: 50px; */
 margin: 0;
  /* height: 10px; */
 /* align-items: center; */
}

.row-img {
 /* width: 25%; */
 background-size: cover;

 margin: 0;
}

.col {
 display: inline-flex;
 height: 600px;
}

.col-1 {
 background: url('images/desktop/image-graphic-design.jpg') no-repeat;
 background-size: contain;
 width: 50%;
 /* padding: 20px; */
}

.col-2 {
 background: url('images/desktop/image-photography.jpg') no-repeat;
 background-size: contain;
 width: 50%;
}

.text {
 /* padding: 20%; */
  padding: 50% 20% 10% 20%;
  text-align: center;
}

.t-img {
 border-radius: 50%;
}

.review-section {
 padding: 8% 5%;
 text-align: center;
}

.review-section h2 {
 text-transform: uppercase;
}

.reviews {
 display: inline-flex;
 justify-content: center;
}

.review {
 text-align: center;
 margin: 2%;
 padding: 3px;
 width: 28%;
}

.t-name {
 font-weight: bold;
 font-size: 26px;
}

.gallery {
 display: inline-flex;
}

.gal-img {
 width: 25%;
}

footer {
 background-color: hsl(168, 40%, 55%);
 text-align: center;
 padding: 4% 8%;
 color: hsl(167, 40%, 24%);
}

.f-link {
 display: inline-flex;
 list-style-type: none;
 justify-content: space-between;
 margin: 5% 0;
 padding-inline-start: 0 !important;
}

.f-link li a {
 text-decoration: none;
 color: hsl(167, 40%, 24%);
 margin: 30px;
}

footer img {
 margin: 0px 10px;
}
